html,
body {
  margin: 0;
}

.slides::-webkit-scrollbar {
  display: none;
}

a.pill {
  display: inline-flex;
  width: 8px;
  height: 8px;
  background: grey;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
  transition: 0.5s;
}

a.pill.active {
  background: black;
}

a.pill:active {
  top: 1px;
}

a.pill:focus {
  background: #000;
}
